/***************************
Reset
********/		
body{
	margin: 0;
	padding: 0;
	zoom: 1;
}
ul,ol,p{
	margin: 0; padding: 0;
}
ul li{
	list-style-type: none;
}
a{
	outline: 0 none;
	text-decoration: none;
}

/***************************
Generals
********/		
.table{
	display: table;
}
.table_cell{
	display: table-cell;
}
.centered{
	margin: 0 auto;
}
.table_cell.centered{
	vertical-align: middle;
}
.clear{
	clear:both;
}

/***************************
Site
**********/
body{
	font-family: arial;
}
h1{
	font-size: 40px;
	text-align: center;
}
h4{
	margin-bottom: 7px;
	font-weight: normal;
}
a{
	font-weight: normal;
	font-size: 14px;
}
/***************************
Screen: Wheels
********/		
div.ui-page{
	position: static;
}
.ui-mobile [data-role=page]{
	position: static;
}
.content{
	max-width: 1024px;
	margin: 0 auto;
}
.ipad_page{
	background: transparent url('../images/landscape.png') no-repeat center center;
	max-width: 1028px;
	min-width: 934px;
	height: 700px;
	margin: 0 auto;
	padding: 130px 4% 22px;
	overflow: hidden;
}
.ipad_page p,
.ipad_page h3{
	margin-left: 20px;
}
.wheel{
	margin: 0 auto;
	width: 500px;
	height: 500px;
}
.wheel img{
	height: 100%;
	width: 100%;
}
