.wm_hide{
	display: none;
}
.wm_container{
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.wm_container{
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.wm_container.touched{
	cursor: pointer;
}
.wm_buttons{
	z-index:1;
}
.wm_over,
.wm_wheel,
.wm_shadow,
.wm_buttons,
.wm_event_handler{
	position: absolute;
	top: 0;
	left: 0;
}
.wm_buttons{
	z-index: 2;
}
.wm_shadow{
	z-index: 0;
}
.wm_wheel{
	z-index: 1;
}
.wm_over{
	z-index: 2;
}
.wm_event_handler{
	z-index: 3;
	border-radius: 9999px;
	-moz-border-radius: 9999px;
	-webkit-border-radius: 9999px;
	-khtml-border-radius: 9999px;
}